<nav class="navbar navbar-expand-lg navbar-light bg-enigma">
    <div class="container">
        <i class="fab fa-angular text-white fs-3 me-3"></i>
        <a class="navbar-brand text-light" routerLink="">My Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-link active">
                    <a class="text-light text-decoration-none"  aria-current="page" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-link active">
                    <a class="text-light text-decoration-none"   routerLink="about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="demo/shopaa">Shopaa</a></li>
                        <li><a class="dropdown-item" routerLink="demo/todos">Todo</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled ">Disabled</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>