<section class=" p-4">
    <div class="row mt-3">
      <div class="col">
        <h2 class="text-enigma text-uppercase">Objective</h2>
        <hr class="col-11 mb-4" />
        <article class="col-11" style="text-align: justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium ipsa, quasi sequi iusto minima dolor hic? Quisquam
          nemo aperiam nulla laborum inventore totam pariatur,
          repellendus, accusantium dolorum nesciunt praesentium
          architecto? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Numquam a eaque temporibus qui, sit incidunt blanditiis?
          Tenetur quisquam, ullam quo, voluptas doloribus reprehenderit
          laudantium nobis accusamus inventore, exercitationem enim
          itaque.
        </article>

        <br />

        <blockquote class="blockquote text-center col-10">
          <p class="mb-3">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          </p>
          <footer class="blockquote-footer justify-content-center">
            <cite title="Source Title">Vladimir Putih</cite>
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <h2 class="text-enigma text-uppercase">Experience</h2>
        <hr class="col-11 mb-4" />
        <div class="row">
          <div class="col-1">
            <i class="bi-geo fs-1"></i>
          </div>
          <div class="col-11">
            <p class="lead mb-1">Fullstack Developer</p>
            <p class="text-uppercase">
              <strong class="border-end border-2 border-dark pe-3 me-3">
                Enigmacamp IT Bootcamp</strong
              >
              Oct 2019 - Present
            </p>
            <ul class="list-unstyled">
              <li><i class="bi-check"></i> Design a system</li>
              <li>
                <i class="bi-check"></i> Design Application Interface
              </li>
              <li><i class="bi-check"></i> Devlop Backend Service</li>
              <li><i class="bi-check"></i> Develop Frontend Service.</li>
              <li><i class="bi-check"></i> Deploy an Application</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <i class="bi-geo fs-1"></i>
          </div>
          <div class="col-11">
            <p class="lead mb-1">Backend Developer</p>
            <p class="text-uppercase">
              <strong class="border-end border-2 border-dark pe-3 me-3">
                Construct Enterprise</strong
              >
              Oct 2019 - Present
            </p>
            <ul class="list-unstyled">
              <li><i class="bi-check"></i> Design a system</li>
              <li>
                <i class="bi-check"></i> Design Application Interface
              </li>
              <li><i class="bi-check"></i> Devlop Backend Service</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <i class="bi-geo fs-1"></i>
          </div>
          <div class="col-11">
            <p class="lead mb-1">Frontend Developer</p>
            <p class="text-uppercase">
              <strong class="border-end border-2 border-dark pe-3 me-3">
                Digital Display</strong>
              Oct 2019 - Present
            </p>
            <ul class="list-unstyled">
              <li><i class="bi-check"></i> Design a system</li>
              <li>
                <i class="bi-check"></i> Design Application Interface
              </li>
              <li><i class="bi-check"></i> Devlop Backend Service</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <h2 class="text-enigma text-uppercase">Education</h2>
        <hr class="col-11 mb-4" />

        <div class="col-11">
          <p class="lead mb-1">S1 - Information System</p>
          <p class="text-uppercase">
            <strong class="border-end border-2 border-dark pe-3 me-3">
              Universitas Gunadarma</strong>
            2014 - 2018
          </p>
      </div>
      <div class="col-11">
          <p class="lead mb-1">S1 - Information System</p>
          <p class="text-uppercase">
            <strong class="border-end border-2 border-dark pe-3 me-3">
              Universitas Gunadarma</strong>
            2014 - 2018
          </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-grid col-5 my-5">
        <button class="btn btn-warning btn-lg shadow" id="connect">Lets Connect!</button>
      </div>
    </div>
    </div>
  </section>
  