<aside class=" bg-dark text-white">
          <div class="row justify-content-center">
            <div class="col-sm-6 py-5">
              <img
                src="assets/images/download.jpeg"
                alt="My Profile"
                class="img-thumbnail rounded-circle"
              />
            </div>
            <div class="col-12">
              <h1 class="text-center fs-3">
                Vladimir Putih <br />
                <span class="fs-5"> Fullstack Developer </span>
              </h1>
            </div>
            <hr class="col-9 mb-4" />

            <div class="col-10">
              <h2 class="fs-5 mb-3">Contact</h2>
              <dl class="row">
                <dt class="col-1"><i class="bi-whatsapp"></i></dt>
                <dd class="col-11">
                  <a
                    href="tel:+6281208120812"
                    class="text-white text-decoration-none"
                    >+6281208120812</a
                  >
                </dd>
                <dt class="col-1"><i class="bi-at"></i></dt>
                <dd class="col-11">
                  <a
                    href="mailto:putin@ru.go.id"
                    class="text-white text-decoration-none"
                  >
                    putin@ru.go.id</a
                  >
                </dd>
                <dt class="col-1"><i class="bi-geo-alt-fill"></i></dt>
                <dd class="col-11">Moscow, Rusia</dd>
              </dl>
            </div>
            <hr class="col-9 mb-4" />

            <div class="col-10">
              <h3 class="fs-5 mb-3">Skill</h3>
              <dl class="row">
                <dt class="col-9 fw-normal">HTML</dt>
                <dd class="col-3 fw-bold">80%</dd>
                <dt class="col-9 fw-normal">CSS</dt>
                <dd class="col-3 fw-bold">75%</dd>
                <dt class="col-9 fw-normal">JavaScript</dt>
                <dd class="col-3 fw-bold">90%</dd>
              </dl>
            </div>
            <hr class="col-9 mb-4" />

            <div class="col-10">
              <h4 class="fs-5 mb-3">Languages</h4>
              <dl class="row">
                <span
                  class="
                    col-3
                    border
                    rounded-1
                    border-0
                    fw-bold
                    text-center
                    bg-secondary
                    mx-1
                    p-1
                  "
                  >Indonesia</span
                >
                <span
                  class="
                    col-3
                    border
                    rounded-1
                    border-0
                    fw-bold
                    text-center
                    bg-secondary
                    mx-1
                  "
                  >English</span
                >
                <span
                  class="
                    col-3
                    border
                    rounded-1
                    border-0
                    fw-bold
                    text-center
                    bg-secondary
                    mx-1
                  "
                  >Russian</span
                >
              </dl>
            </div>
            <hr class="col-9 mb-4" />

            <div class="col-10">
              <h5 class="fs-5 mb-3">Hobbies</h5>
              <dl class="row fs-5">
                <!-- <ul id="menu">
                        <li style="display: inline;">Coding</li>
                        <li style="display: inline;">Reading</li>
                        <li style="display: inline;">Watching</li>
                        </ul> -->
                <span class="col-3 badge bg-secondary mx-1">Coding</span>
                <span class="col-3 badge bg-secondary mx-1">Reading</span>
                <span class="col-3 badge bg-secondary mx-1">Watching</span>
              </dl>
            </div>
            <hr class="col-9 mb-4" />

            <div class="col-10">
              <h5 class="fs-5 mb-3">Social Media</h5>
              <dl class="row">
                <dt class="col-1"><i class="bi-github"></i></dt>
                <dd class="col-11">v.putin</dd>
                <dt class="col-1"><i class="bi-linkedin"></i></dt>
                <dd class="col-11">v.putin</dd>
                <dt class="col-1"><i class="bi-facebook"></i></dt>
                <dd class="col-11">fb.me/v.putin</dd>
              </dl>
            </div>
          </div>
        </aside>