<h2>{{pageTitle}}</h2>

<!-- <ul class="list-group">
    <li class="list-group-item ">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul> -->

<ul class="list-group">
  <li *ngFor="let todo of todos" class="list-group-item">
    <input class="form-check-input" type="checkbox" id="{{todo.id}}_checkbox" [value]="todo.id" (click)="handleCheckedTodo($event,todo)">
    <label class="form-check-label" for="{{todo.id}}_checkbox">{{todo.name}}</label>
  </li>
</ul>